body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*************我的设置**********************/
.l{float:left;}
.r{float:right;}
.c{clear:both;}
.h{display:none;}
.icon{width:16px;height:16px;}

.w80{width:80px;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w750{width:750px;}

.h20{height:20px;}
.h30{height:30px;}
.h100{height:100px;}
.h200{height:200px;}
.h300{height:300px;}
.h400{height:400px;}
.h500{height:500px;}

#navigator{text-align:center;margin:10px auto;}
#navigator .nav{text-align:left;margin:20px 0;}
#navigator .nav h1{font: bold 14px Arial;color: #0066A4;}
#navigator .nav ul{list-style:none outside none;}
#navigator .nav li{width:200px;height:200px;margin:8px;text-align:left;position:relative;}
#navigator .nav .bar{height:20px;}
#navigator .nav .win{position:absolute;top:20px;}
#navigator .nav .preview{width:180px;border:1px solid #999;padding:5px;}
#navigator .nav .preview .clip{clip:rect(0px, 240px, 120px, 0px);position:relative;}
#navigator .nav .info{text-align:left;}

#feed{}
#feed .feed-title{font:bold 18px Arial;color: #0066A4;line-height:30px;margin-left:5px;}
#feed .feed-title2{line-height:20px; border-bottom:1px solid #AAA;margin-left:5px;}
#feed .feed-content{margin:10px 5px;}
#feed .feed-act{margin:15px 5px;}
.feed-small{overflow:hidden;height:200px;}

.form{margin:10px 5px;}
.form p{margin:0 0 0.5em;}
.ii_text{width:380px;}
.i_area{width:380px;height:400px;url("img/bg-input.png") repeat-x scroll 0 -130px #FFFFFF;border: 1px solid #CCCCCC;}
.i_select{width:120px;url("img/bg-input.png") repeat-x scroll 0 -130px #FFFFFF;border: 1px solid #CCCCCC;}
.i_button{width:80px;color:#444444;font-size:12px;}
